@font-face{
    font-family: 'Montserrat', sans-serif; 
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype'); 
}
body{
    font-family:  'Montserrat', sans-serif;
    background-color: #C2C0C0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #202023;
    overflow-x: hidden; 
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:#9f9fa7;
    text-decoration: none;
}
a:active{
    color:#9f9fa7;
    text-decoration: none;

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 1920px;;
    padding: 30px 60px;
    margin: 0 auto;
    color: #202023;
  }
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
  } 
.menu-item{
    padding-right: 40px;
}
.menu-link{
    font-size: 20px;
    line-height: 20px;
}
.box {
   display: flex;
flex-direction: row;
align-items: center;

gap: 12px;
margin-right: 0px;
}
.container2{
    display: grid;
   
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    grid-template-columns: 375px 375px 375px;


}
p{
    font-size: 16px;
}
h3{
    padding-top: 26px;
    padding-bottom: 20px;
}
.fl1{

    margin: 8px;
    padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  gap: 36px;
  background: #FFFFFF;
  border-radius: 35px;
  padding-bottom: 14px;
  
  }
.photo{
      width: 334px;
      height: 380px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 25px;
      margin-right: 0px;
      padding-right: 0%;
  }
.about{
      text-align: center;
      padding-top: 24px;
  
  
  }
a.descript{
      font-size: 16px;
      font-weight: bold;
  
  }
.button1{
      
      display: inline-block;
      border-radius: 9999px;
      padding: 12px 20px;
      transition: .5s;
  background: #202023;
  opacity: 0.8;
  border-radius: 9999px;
  margin-left: 12px;
  }
.button1:hover{
      color: #FFFFFF;
      opacity: 0.8;
      text-decoration: none;
  }
footer{
    display: block;
    height: 126px;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    margin-top: 72px;
    margin-right: 60px;
    padding: 0px;
   }
.info{
    gap: 140px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.info1{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.logo1{
    display: flex;
    width: 300px;
    height: 40px;
}
.info2{
    display: flex;
    flex-direction: column;
    padding: 0;

}